{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="content">
        <article>
            <div class="article">
                <div class="arti_nav">
                    <a href="index.html">the beacon</a> >
                    <a href="abount.html">colume</a>
                </div>
                <div class="arti_date">
                    2022.02.02
                </div>
                <div class="arti_title">
                    <h1>{{ post.title }}</h1>
                </div>
                <div class="writer_info">
                    <div class="writer_email">
                    </div>
                    <p>writer: <span>{{ post.author.dream_name }} {{ post.author.user.first_name }} {{ post.author.user.last_name }}
                            <br>{{post.author.eng_name}}
                            <br>{{post.author.user.email}}
                        </span>
                    </p>
                    <p>editor: <span>{{ post.editor.dream_name }} {{ post.editor.user.first_name }} {{ post.editor.user.last_name }}
                            <br>{{post.editor.eng_name}}
                            <br>{{post.editor.user.email}}
                        </span>
                    </p>
                    <br><br>
                </div>
                <div class="arti_picture">
                    <img src="{{ post.thumbnail.url }}">
                </div>
                <div class="main_text">
                    {{ post.content | safe}}
                </div>
            </div>
        </article>
</main>
{% endblock %}
