{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="keywords" content="article, dreamschool"> 웹사이트 키워드 for searching surface-->
    <!-- <meta name="description" content="club the beacon"> 웹사이트 설 명-->

    <meta name="viewport"
    content="width=device-width, initial-scale=1"
    user-scaleable="yes">
    <!-- 반응형 웹 사이트 -->

    <title>The beacon</title>
    <!-- <link href="폰트 사이트" rel="stylesheet"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body class="wrap">
    <header class="header">
        <div class="header_title">
            <a href="index.html">THE BEACON</a>
        </div>
        <nav class="header_nav">
            <ul class="header_nav_ul">
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="column.html">COLUMN</a></li>
                <li><a href="column.html">OPINION</a></li>
                <li><a href="column.html">ESSAY</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="footer_content">
            <div class="developmentteam">
                <p>흠 이거 어떻게 표현하지</p>
            </div>
            <div class="footer_schoolinfo">
                <p>Adress: 충남 서산시 대산읍 영탑리 영전1길 321, 꿈의학교</p>
                <p>Contact Email: thebeacon@dreamschool.or.kr</p>
                <p>Cpopyright ⓒ 2022 elice. All rights reserved</p>
            </div>
        </footer>
    </div>
</body>

</html>