<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="keywords" content="article, dreamschool"> 웹사이트 키워드 for searching surface-->
    <!-- <meta name="description" content="club the beacon"> 웹사이트 설 명-->

    <meta name="viewport"
    content="width=device-width, initial-scale=1"
    user-scaleable="yes">
    <link rel = "icon" href = "{% static 'image/icon.ico' %}" type = "image/icon">
    <!-- 반응형 웹 사이트 -->

    <title>The beacon</title>
    <!-- <link href="폰트 사이트" rel="stylesheet"> -->

</head>
<body>

</body>
</html>