{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="content">
        <section>
            <div class="articles_preview">
                <ol>
                    {% for post in object_list %}
                    <li class="article_preview">
                        <article>
                            <header>
                                <a class="arti_pre_header_img" href="{% url 'article' post.pk %}">
                                    <img alt class="header_img" src="{{ post.thumbnail.url }}">
                                </a>
                                <a class="arti_pre_header_title" href="{% url 'article' post.pk %}">
                                    <h1>{{ post.title }}</h1>
                                </a>
                            </header>
                            <div class="arti_pre_teaser">
                                {{ post.snippet }}
                            </div>
                            <footer class="article_preview_footer">
                                <div class="article_preview_publication">
                                    <img class="arti_pre_pub_img" href="작가 이미지 주소" src="/img/image1.jpg">
                                        
                                    <div class="article_preview_info">
                                        <address class="arti_pre_pub_author">
                                            <a class="arti_pre_info_author_name" href="작가 주소">{{ post.author.dream_name }} {{ post.author.user.first_name }} {{ post.author.user.last_name }}</a>
                                        </address>
                                        <time class="arti_pre_info_author_date">
                                            {{ post.post_date }}
                                        </time>
                                    </div>
                                    <div class="arti_pre_pub_nav">
                                        {{ post.category.name }}
                                    </div>
                                </div>
                            </footer>
                        </article>
                    </li>
                    {% endfor %}

                </ol>
            </div>
        </section>
</main>
{% endblock %}
